@import "bootstrap";
@import "./index.scss";

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-bottom: 0;
}

h1 {
  font-size: 1.25rem;
}
h2 {
  font-size: 1rem;
}
h3 {
  font-size: 0.75rem;
}

#root {
  min-height: 100dvh;
  min-width: 100dvw;
  max-height: 100dvh;
  max-width: 100dvh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  overflow: auto;
}